.question-view {
  display: flex;
  flex-direction: row;
}

.categories-list {
  flex-basis: 25%;
  flex-shrink: 2;
}

.categories-list>form {
  width: 60%;
}

.questions-list {
  flex-basis: 75%;
  text-align: center;
}

.Question-holder {
  padding: 10px 20px;
  border: 2px #aaa solid;
  text-align: left;
  margin: 7px;
}

.Question-status {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 200px;
  align-items: center;
  justify-content: space-between;
}

.Question {
  font-size: 21px;
  width: 100%;
}

.answer-holder {
  font-size: 18px;
  height: 25px;
  margin: 5px 0px;
  color: green;
}

.show-answer {
  width: 100px;
  margin-top: 5px;
  background-color: dodgerblue;
  color: white;
  padding: 3px 5px;
  margin-left: 0px !important;
}

.pagination-menu {
  margin: 20px 0;
}

span.page-num {
  padding-bottom: 50px;
  padding: 5px 10px;
  font-weight: bolder;
  font-size: 16px;
  border-radius: 2px;
}

span.page-num.active {
  background-color: dodgerblue;
  color: white;
}

img.category, img.delete {
  width: 20px;
  height: 20px;
}